<a href="https://colab.research.google.com/github/Paupau20/Colab/blob/main/Promedios_con_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Maestro: Lázaro Bustio Martínez 
# Paulina Martínez Vázquez
# ID: 226159-0
# Objetivo: Obtener el promedio de una columna dada en un DataFrame. Escribir el script de Python que resuelva este ejercicio.

In [3]:
import pandas as pd
import pickle

#Usamos el código pasado para sacar el promedio
Total = int (input("Dime el total: "))
lista=list()
Sum=0

for i in range(0, Total):
  num=int(input("Dame el número " + str(i+1) + ": "))
  Sum=Sum+num
  lista.append(num)

Dime el total: 5
Dame el número 1: 23
Dame el número 2: 55
Dame el número 3: 12
Dame el número 4: 10
Dame el número 5: 4
El promedio es 20.8

In [7]:
import pandas as pd

#La lista que nos da el usuario la convertimos en un Data Frame
df=pd.DataFrame(lista)
df

0    20.8
dtype: float64

In [9]:
#Sacamos el promedio del Data Frame y comprobar si nos sale el mismo que arriba
print("El promedio es: ", df.mean())

El promedio es:  0    20.8
dtype: float64

# Opción 2

In [10]:
#Otra opción
import numpy as np
import pandas as pd

#Se crea un Data Frame con números aleatorios
dfr=pd.DataFrame(np.random.randint(1,100,size=(10,3)), columns=list('123'))
dfr

    1   2   3
0  59  72  35
1  41  44  74
2  12  69  88
3  29  62  66
4  50  47  74
5  19  77  82
6   8  39  79
7  20  84   1
8  76  16  84
9  14  93  99

In [11]:
col=str(input("Dame la columna a promediar: ")) #Preguntamos por la columna que quiera calcular el promedio el usuario
cons=int(col) #Hacemos un cast de la columna para usar en el if

if(cons <= 3):
  print("El promedio es: ", dfr[col].mean())
else:
  print("El número de columna no es válido.")

Dame la columna a promediar: 2
El promedio es:  60.3